---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.alert-wrapper.sc-ion-alert-md {
    background: #ee4e2e;
    }

.alert-button-inner.sc-ion-alert-md, .alert-title.sc-ion-alert-md{
    color: azure;
    }
[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
    color: azure!important;
    }
[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: #ddd!important;
    }

.alert-radio-label.sc-ion-alert-md {
    color: #ddddddb0!important;
    }
    
.alert-radio-inner.sc-ion-alert-md {
    background-color: #ddd!important;
    }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px;
  width: 100%;
}

.notif {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: x-small;
    position: absolute;
    right: -5px;
    top: -0.0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}
.diskon {
    text-decoration: line-through;
    margin-top: 20px;
}
.hardis {
    color:#cb4b16;
    font-size: large;
    }

.emblem {
    position: absolute;
    border: 1px solid #cb4b16;
    border-radius: 3px;
    padding: 0 5px;
    top: 8px;
    left: 8px;
    color: #cb4b16;
    background: #faebd7a6;
    font-size: small;
}
// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 20px;
}

.masthead {
  padding: 20px 40px;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
    padding: 20px 20px;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
    float: left;
    padding: 30px 0;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
#main {
    margin: 20px 0;
}
//

.blog-post {
    min-width: 200px;
    width: 380px;

    @include mobile {
    width:100%;
    }
    }

.blog-page {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.posts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.categories {
    width: 100%!important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.post-categories {
    width: 1200px;

    @include mobile {
    width:auto;
    margin: auto;
    }
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  width:auto;

    @include mobile {
    width:100%!important;
    margin: auto;
    }
}
.sticky {width: 400px;

    @include mobile {
    width:100%!important;}
}
.aside-category {
    max-height: 400px;
    overflow: auto;
    scroll-behavior: smooth;
}

.siside {
    max-height: 335px;
    overflow: hidden;

    @include mobile {
    max-height: 250px;
    overflow: auto;
    scroll-behavior: smooth;
    }
    }
.chip_ion {
    position: absolute;
    top: -5px;
    right: 0;

    @include mobile {
    display:none;
    }
}
.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    }
}
.disclaim {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
}
.produk-page {
    width:850px;
    display:flex;
    flex-wrap: wrap;
}

.pic-produk {
    width: 50%;
    height: fit-content;

    @include mobile {
    width: 100%;
    }
}
.produkOrder {
    width: 45%;

    @include mobile {
    width: 100%;
    }
}
.posts > .post {
    width: 200px;

    @include mobile {
    width: 50%;
    padding: 0;
    }
}
.page-form {
    display: flex;
    margin:auto;

    @include mobile {
    flex-wrap: wrap;
    width: auto;
    }
}
.cart-page {
    width: 500px;

    @include mobile {
    width: 100%;
    }
}
.form-page {
    width: 650px;

    @include mobile {
    width: 100%;
    }
}
.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}
.page {
    width:600px;
}
.wrapper-footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.bintang {
    position: absolute;
    bottom: 0;
    right: 3px;
    padding: 5px;
    }

.copyRight {
    padding: 20px 10px;
    border-top: 1px solid rgba(0,0,0,.06);
    font-size: 80%;
    color: rgba(0,0,0,.6);
}
.feature_tw .grid .widget {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    border-left: 1px solid rgba(0, 0, 0, 0.06);
    padding: 0 40px;

    @include mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
    text-align: center;
    }
}

.widgetCopyright .widgetFooter {
    padding: 40px 0;
    font-size: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: center;

  @include mobile {
    padding: 40px 20px;
    font-size: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    }
}

.widgetCopyright .widgetFooter .widget .payShipIcon li {
    display: inline-block;
    height: 36px;
    width: 72px;
    border: 1px solid rgba(0,0,0,.06);
    margin: 3px 2px;
    background-color: #fff;
    border-radius: 2px;
    background-position: center center;
    background-size: 70% auto;
    background-repeat: no-repeat;
}

.widgetCopyright .widgetFooter .widget .btnGroup {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 70px 0;

  @include mobile {
    margin: 0 30px 0;
    }
}
.popWin {color:#f94c2f;}
.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.feature_tw .grid .widget .icon, .feature_tw .grid .widget .text {
    display: flex;

    @include mobile {
    display: block;
    margin: auto;
    }
}
.feature_tw .grid .widget .icon i {
    margin-top: 0;
    color: #009688;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 60px;
    text-align: center;
    font-size: 25px;
    transition: .1s;
    border: 3px solid #ddd;
}
.feature_tw .grid .widget .icon i, .feature_tw .grid .widget .text .textWrap {
    display: block;
    margin: auto;
}
.feature_tw {
    background: #fff;
    display: block;
    padding: 20px 0;
    color: rgba(0,0,0,.6);
    border-top: 1px solid rgba(0,0,0,.06);
    overflow: auto;
}
.feature_tw .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;

    @include mobile {
    grid-template-columns: repeat(3, 60%) 1px;
    grid-gap: 40px;
    font-size: 90%;
    width: 100%;
    max-width: calc(100% + 20px);
    overflow-x: auto;
    padding: 40px 10px;
    padding-left: 30px;
    }
}
.wrapper {
    margin: auto;
    width: 1200px;
    max-width: calc(100% - 20px);

    @include mobile {
    width: 1050px;
    }
}

/* Tombol Button Pesan */
#button {margin: 5% auto; width: 100px; text-align: center;}
#button a {
	width: 100px;
	height: 30px;
	vertical-align: middle;
	background-color: #F00;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid transparent;
}

/* Jendela Pop Up */
#kontak {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}

.window {
	max-width: 300px;
	width: auto;
	height: auto;
	background: #fff;
	border-radius: 3px;
	position: relative;
	padding: 10px;
	text-align: center;
    margin: auto;
    margin-top: 10%;

    @include mobile {
    margin-top: 25%;
    }
}
.window h2 {
	margin: 30px 0 0 0;
}
/* Button Close */
.close-button {
    width: 20px;
    height: 20px;
    line-height: 21px;
    background: #2dd36f;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    color: #f4f5f8;
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 5px;
}
.wrap-contact {
  overflow: hidden;
}

/* Memunculkan Jendela Pop Up*/
#kontak:target {
	visibility: visible;
}

.plus-minus-input {
    align-items: center;
    display: flex;
    margin-top: 5px;
    padding: 0 10px;
    grid-gap: 10px;
    border: 1px solid;
    width: 100%;
    border-radius: 25px;

  .input-group-field {
    text-align: center;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    font-size: 17px;
    background-color: transparent;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  .input-group-button {
    .circle {
    border-radius: 50%;
    padding: 3px;
    background: none;
    border: none;
    cursor: pointer;
    }
.fa-minus-circle:before, .fa-plus-circle:before {
    font-size: 18px !important;
    color: #424242eb;}
  }
}
.fa-cart-plus:before {
    content: "\f217";
    font-size: 24px!important;
}
.display-none {display:none;}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
