
    {% for category in site.tags %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>
      <div class="container">
<ion-note>
    <ion-lable>{{ category_name }}</ion-label>
</ion-note></div>
        <p></p>
        <ion-router-link name="{{ category_name | slugize }}"></ion-router-link>
<div class="posts">
        {% for post in site.tags[category_name] %}
    <article class="product-post">
<ion-router-link href="{{ site.baseurl }}{{ post.url }}">
<ion-card class="product-thumb">
<ion-badge class="display-none discount-badge"><ion-label>{{post.diskon}}</ion-label></ion-badge>
    <img src="{{ post.image }}" />
        <ion-card-header class="product-header">
            <ion-card-subtitle>{{ post.title }}</ion-card-subtitle>
            <div class="display-none diskon">Rp. {{ post.discount }}</div>
            <div class="price">Rp. {{ post.price }}</div>
                </ion-card-header>
                <ion-card-content class="product-content">
            <div class="content">
    <div class="sale">{{post.riv}} Terjual</div>
    <div class="rate"><ion-icon name="star" style="color:#f3ae0f;"></ion-icon> {{ post.rating }}</div>
            </div>
        </ion-card-content>
</ion-card>
</ion-router-link>
    </article>
        {% endfor %}
      </div>
    {% endfor %}
<div id="sidebar" class="sidebar mobile-hide" style="position:fixed;top:196px;right:94px;">
{% include widget.html %}
</div>
