<div class="feature_tw">
<div class="wrapper grid section" id="tw_feature" name="Fitur Toko">
<div class="widget" data-version="1" id="HTML201">
<div class="icon">
              <i class="icon ion-md-done-all">
              </i></div>
              <div class="text">
              <div class="textWrap">
              <h4>Order mudah! via WhatsApp.</h4>
              <small><b>Instant Checkout</b> dengan <b>Contact Form WhatsApp</b>.</small>
              </div>
              </div>
<div class="clear"></div>
</div>
<div class="widget" data-version="1" id="HTML202">
<div class="icon">
              <i class="icon ion-md-call">
              </i></div>
              <div class="text">
              <div class="textWrap">
              <h4>Online 1x24 Jam!</h4>
              <small>Apapun pesananmu, CS (Customer Service) kami akan dengan senang hati untuk melayani.. :)</small>
              </div>
              </div>
<div class="clear"></div>
</div>
<div class="widget" data-version="1" id="HTML203">
<div class="icon">
              <i class="icon ion-md-cube">
              </i></div>
              <div class="text">
              <div class="textWrap">
              <h4>Kualitas Terbaik!</h4>
              <small>Kami memastikan, produk yang kami kirim sesuai dengan <b>Ekspektasi</b> pembeli.</small>
              </div>
              </div>
<div class="clear"></div>
</div>
</div>
</div>
