{% if page.layout == "default" %}
    <ion-toolbar class="mobile-show">
      <div class="container">
        <ion-footer>
          {% include nav.html %}
        </ion-footer>
      </div>
    </ion-toolbar>
{% endif %}
<form style="display:none;width:100%;max-width:400px;margin:0px;align-items:stretch;border-radius: 5px;" validate-form id='whatsapp'>
<input class='pertanyaan' id='nomorAdmin' type='hidden'/>
        <span class="mb-3">
            Assalamualaikum! lengkapi data berikut
        </span>
        <ion-item>
          <ion-label position="floating">Nama Lengkap</ion-label>
            <ion-input class='nama wajib' type="text" highlight-color="success" placeholder="Nama"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pertanyaan</ion-label>
            <ion-textarea class='tanya wajib' type="text" style="border-color:#07bc4c;max-width: 320px;" placeholder="Pertanyaan"></ion-textarea>
        </ion-item>
        <div class="mb-0 text-right">
            <a type="button" class="sendWAclik kirim" style="margin-right:10px;color:#07bc4c"><ion-icon class="wa" name="paper-plane-outline"style="float: right;"></ion-icon></a>
        </div>
    </form>

