
    <div class="wrapper-masthead">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ '/categories' | prepend: site.baseurl }}">
        <ion-chip onclick="handleButtonClick()" color="danger"><ion-label color="danger">Category</ion-label>
			  </ion-chip></a>
            <a href="{{ site.baseurl }}/blogpost">
        <ion-chip color="danger"><ion-label color="danger">Artikel</ion-label>
        </ion-chip></a>
            <a href="https://www.facebook.com/plus62.olshop/">
        <ion-chip onclick="handleButtonClick()" color="danger"><ion-label color="danger">Facebook</ion-label>
        </ion-chip></a>
          </nav>
        </header>
      </div>
