
<div id="kontak">
<div class="window">
<h3>Kontak Kami</h3>
        	<a href="#" class="close-button"><ion-icon name="close-circle"></ion-icon></a>
		<form action='?' class='contact100-form validate-form' id='whatsapp'><div id='p62s'></div><input class='tujuan' type='hidden' id='Admin'><ion-item><ion-label position='floating'>Nama*</ion-label><ion-input class='nama' type='text'></ion-input></ion-item><ion-item><ion-label position='floating'>No. WhatsApp*</ion-label><ion-input class='nowhatsapp' type='number'></ion-input></ion-item><ion-item><ion-label position='floating'>Isi Pesan*</ion-label><ion-textarea class='isi_pesan'></ion-textarea></ion-item><p/><ion-button expand='full' color='success' class='submit'>Buka WhatsApp</ion-button></form>
        </div>
    </div>
