---
layout: compress
---

<!DOCTYPE html>
<html lang="id">
{% include head.html %}
<body>
<ion-app>
{% include header.html %}
<ion-content>
    {% include refresh.html %}
<div class="layout-main">
    <div 
{% if page.sidebar_option == 'sidebar' %}id="main-side"{% endif %}
{% if page.sidebar_option == 'no-sidebar' %}id="noside-main"{% endif %} role="main" class="container">
      {{ content }}
    </div>
{% if page.sidebar_option == 'sidebar' %}{% include sidebar.html %}{% endif %}
</div>
{% include widget-footer.html %}
</ion-content>
{% include pay.html %}
{% include footer.html %}
</ion-app>
    {% include script-js.html %}
<div class="dark-switch">
<ion-chip class="bg-dark-grey box-shadow">
<ion-avatar class="toggle">
    <div class="toggle-moon" onclick="setDarkMode(true)" id="darkBtn">
<i class="fas fa-moon"></i>
    </div>
    <div class="toggle-sun" onclick="setDarkMode(false)" id="lightBtn" style="display: none;">
<i class="fas fa-sun"></i>
   </div>
</ion-avatar>
<ion-label color="primary">Dark Mode</ion-label>
</ion-chip>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script>
 function setDarkMode(isDark) {
        var darkBtn = document.getElementById('darkBtn')
        var lightBtn = document.getElementById('lightBtn')

        if(isDark) {
            lightBtn.style.display = "block"
            darkBtn.style.display = "none"
        } else {
            lightBtn.style.display = "none"
            darkBtn.style.display = "block"
        }

        document.body.classList.toggle("darkmode");
    }

//check localstorage
if(localStorage.getItem('preferredTheme') == 'dark') {
    setDarkMode(true)
}

function setDarkMode(isDark) {
    var darkBtn = document.getElementById('darkBtn')
    var lightBtn = document.getElementById('lightBtn')

    if(isDark) {
        lightBtn.style.display = "block"
        darkBtn.style.display = "none" 
    //tambahan localstorage
        localStorage.setItem('preferredTheme', 'dark');
    } else {
        lightBtn.style.display = "none"
        darkBtn.style.display = "block"
     //tambahan localstorage
        localStorage.removeItem('preferredTheme');
    }

    document.body.classList.toggle("darkmode");
}

</script>
{% include add-to-homescreen.html %}
  </body>
</html>
