---
layout: compress
---

<!DOCTYPE html>
<html lang="en" class="ios">
{% include head.html %}
<body>
<ion-app>
{% include header.html %}
<ion-content>
    {% include refresh.html %}
<div class="layout-main">
    <div 
{% if page.sidebar_option == 'sidebar' %}id="main-side"{% endif %}
{% if page.sidebar_option == 'no-sidebar' %}id="noside-main"{% endif %} role="main" class="container">
      {{ content }}
    </div>
{% if page.sidebar_option == 'sidebar' %}{% include sidebar.html %}{% endif %}
</div>
{% include widget-footer.html %}
</ion-content>
{% include pay.html %}
{% include footer.html %}
</ion-app>
    {% include script-js.html %}
  </body>
</html>
